/* ===== Page Wrapper ===== */
.home-container {
  height: 100vh;
  background: linear-gradient(135deg, #1e1e4f, #24245e);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: "Segoe UI", sans-serif;
}

/* ===== Content ===== */
.home-content {
  text-align: center;
  max-width: 700px;
  padding: 20px;
}

/* ===== Title ===== */
.home-content h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}

/* ===== Tagline ===== */
.home-content .tagline {
  font-size: 1.2rem;
  opacity: 0.85;
  margin-bottom: 40px;
}

/* ===== Buttons ===== */
.home-content .home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.home-content .home-buttons button {
  padding: 14px 40px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s ease;
}

/* ===== Login Button ===== */
.home-content .login-btn {
  background-color: aliceblue;
  color: #1e1e4f;
}

.home-content .login-btn:hover {
  background: white;
}

/* ===== Register Button ===== */
.home-content .register-btn {
  background: aliceblue;
  color: #1e1e4f;
}

.home-content .register-btn:hover {
  background: #ffffff;
}

/* ===== Description ===== */
.home-content .home-description p {
  font-size: 1rem;
  line-height: 1.7;
  opacity: 0.9;
}
