* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.home-container {
  height: 100vh;
  background: linear-gradient(135deg, #1e1e4f, #24245e);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.home-content {
  text-align: center;
  max-width: 700px;
  padding: 20px;
}

.home-content h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1.2rem;
  opacity: 0.85;
  margin-bottom: 40px;
}

/* BUTTONS */
.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.home-buttons button {
  padding: 14px 40px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s ease;
}

/* LOGIN */
.login-btn {
  background-color: aliceblue;
  color: #1e1e4f;
}

.login-btn:hover {
  background: white;
}

/* REGISTER */
.register-btn {
  background: aliceblue;
  color: #1e1e4f;
}

.register-btn:hover {
  background: #ffffff;
}

/* DESCRIPTION */
.home-description p {
  font-size: 1rem;
  line-height: 1.7;
  opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .home-content h1 {
    font-size: 2.5rem;
  }

  .home-buttons {
    flex-direction: column;
  }

  .home-buttons button {
    width: 100%;
  }
}
