/* ROOT WRAPPER */
.login-page {
  height: 100vh;
  display: flex;
  font-family: "Segoe UI", sans-serif;
}
/* INSTRUCTIONS DROPDOWN */
.instructions-wrapper {
  position: absolute;
  top: 20px;
  right: 30px;
}

.instructions-btn {
  color: #023850;
  border: 1px solid #b5e4f8;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.instructions-btn:hover {
  background: rgba(255, 255, 255);
}

.instructions-dropdown {
  margin-top: 8px;
  background: white;
  color: #1e1e4f;
  padding: 12px;
  width: 260px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.instructions-dropdown ul {
  padding-left: 15px;
  margin: 0;
}

.instructions-dropdown li {
  font-size: 0.85rem;
  margin-bottom: 6px;
}

/* LEFT SIDE */
.login-left {
  width: 25%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 180px;
  margin-bottom: 20px;
}

.login-left h1 {
  font-size: 2.2rem;
  color: #1e1e4f;
  margin: 0;
}

.login-left p {
  color: #6b6b8a;
  font-size: 0.95rem;
}

/* RIGHT SIDE */
.login-right {
  width: 75%;
  background: linear-gradient(135deg, #1e1e4f, #24245e);
  padding: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* CARD */
.login-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
}

/* INPUTS */
.login-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* BUTTON */
.login-card button {
  width: 100%;
  padding: 14px;
  background: #2f5667;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-card button:hover {
  background: #244654;
}

/* MESSAGE */
.login-right .msg {
  margin-top: 15px;
  color: #ffb4b4;
}

/* SWITCH LINK */
.login-right .switch {
  margin-top: 20px;
  font-size: 0.9rem;
}

.login-right .link {
  color: #b5e4f8;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}
