/* ROOT WRAPPER */
.register-container {
  height: 100vh;
  display: flex;
  background-color: #cae9f7;
  font-family: "Segoe UI", sans-serif;
}
/* INSTRUCTIONS DROPDOWN */
.instructions-wrapper {
  position: absolute;
  top: 20px;
  right: 30px;
}

.instructions-btn {
  color: #023850;
  border: 1px solid #b5e4f8;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.instructions-btn:hover {
  background: rgba(255, 255, 255);
}

.instructions-dropdown {
  margin-top: 8px;
  background: white;
  color: #1e1e4f;
  padding: 12px;
  width: 260px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.instructions-dropdown ul {
  padding-left: 15px;
  margin: 0;
}

.instructions-dropdown li {
  font-size: 0.85rem;
  margin-bottom: 6px;
}

/* LEFT IMAGE SIDE */
.register-image {
  flex: 1;
  color: #1f1f43;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-image img {
  width: 70%;
  max-width: 350px;
  margin-bottom: 20px;
}

.register-image h1 {
  font-size: 2.5rem;
  margin: 0;
}

.register-image p {
  opacity: 0.8;
}

/* RIGHT FORM SIDE */
.register-form {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: #1f1f43;
}

/* FORM CARD */
.input-form {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
}

/* HEADING */
.register-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

/* INPUTS */
.register-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* BUTTON */
.register-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #2c5364;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #203a43;
}

/* MESSAGE */
.register-form .message {
  margin-top: 10px;
  color: #ffffff;
}

/* LOGIN LINK */
.login-link {
  margin-top: 15px;
  font-size: 0.9rem;
  color: white;
}

.login-link span {
  color: #cae9f7;
  cursor: pointer;
  font-weight: 600;
}
