* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
}

/* MAIN CONTAINER */
.register-container {
  height: 100vh;
  display: flex;
}

/* LEFT IMAGE SIDE */
.register-image {
  color: #1f1f43;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-image img {
  width: 70%;
  max-width: 350px;
  margin-bottom: 20px;
}

.register-image h1 {
  font-size: 2.5rem;
  margin: 0;
}

.register-image p {
  opacity: 0.8;
}
.input-form {
  width: 100%;
  background-color: rgb(255 255 255);
  border-radius: 12px;
  padding: 30px;
}
/* RIGHT FORM SIDE */
.register-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: #1f1f43;
}

.register-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

/* INPUTS */
.register-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* BUTTON */
.register-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #2c5364;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.register-form button:hover {
  background-color: #203a43;
}

/* MESSAGE */
.message {
  margin-top: 10px;
  color: #d9534f;
}

/* LOGIN LINK */
.login-link {
  margin-top: 15px;
  font-size: 0.9rem;
  color: white;
}

.login-link span {
  color: #cae9f7;
  cursor: pointer;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .register-container {
    flex-direction: column;
  }

  .register-image {
    height: 35vh;
  }
}
